__pycache__/

# Build folder
dist/

# file
.DS_Store
*.pyc
*.log
*.session
*.session-journal
build/
downloads/
eggs/
.eggs/
wheels/
*.egg-info/
.installed.cfg
*.egg

# IDE specific files
.idea/
.vscode/
*.sw*
